//OpenSans
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans.woff') format('woff'), url('../fonts/OpenSans/OpenSans.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff');
    font-weight: 800;
    font-style: normal;
}

// AGCrownStyle
@font-face {
    font-family: 'AGCrownStyle';
    src: url('../fonts/AGCrownStyle/AGCrownStyle-Roman.woff') format('woff'), url('../fonts/AGCrownStyle/AGCrownStyle-Roman.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}