@media screen and (min-width: 1280px)
    .container
        max-width: 1140px
    .input
        font-size: 23px
    .politics
        justify-content: flex-start
        &__text
            max-width: none

    .form
        &__success
            gap: 26px
        &__fields
            gap: 20px
            margin-bottom: 45px
        &__title
            font-size: 48px
            line-height: 110%
            margin-bottom: 20px
        &__subtitle
            font-size: 30px
            line-height: 110%
            margin-bottom: 40px
        &__politics
            margin-bottom: 50px
        &__button
            min-height: 70px
            padding: 0 40px
            font-size: 24px

    .slider
        &__interface
            display: flex
            justify-content: center
            margin-top: -40px
            position: relative
            z-index: 2
        &__btn
            width: 114px
            height: 81px
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            background: #00aeef
            border: none
            transition: 0.3s
            &:hover
                background: #1588bd

    .footer
        &__title
            margin-bottom: 50px
        &__kulagin
            display: none
            &-title
                font-size: 20px
            &-link
                width: 125px
            &.desktop
                display: flex
                flex-direction: column
                gap: 18px
                align-items: flex-start
        &__box
            display: flex
            justify-content: space-between
            flex-direction: column
        &__logo
            margin: 0
        &__politics
            display: none
            &.desktop
                display: block
        &__box
            order: 1
        &__links
            order: 2
        &__wrap
            order: 3
            align-items: flex-start
            margin: 0
        &__row
            display: flex
            justify-content: space-between
            align-items: stretch
            margin: 0
            gap: 30px

    .news
        &__interface
            display: flex
            gap: 50px
        &__row
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 40px
        &__title
            text-align: left
        &__field
            gap: 10px
        &__card
            width: 700px !important
            &-img
                margin-bottom: 35px
            &-title
                font-size: 28px
                line-height: 42px
                margin-bottom: 22px
            &-text
                font-size: 22px
                line-height: 36px
            &-link
                font-size: 23px

    .send
        &__form
            padding: 160px 20px

    .best
        &__row
            gap: 40px

    .complex
        &__info
            &-card
                width: 100%
        &__card
            &-img
                width: 700px
                min-width: 700px

    .spa
        &__img
            padding: 0 40px 45px 0
            width: 600px
            min-width: 600px
            &::after
                width: 319px
                height: 210px

    .calc
        &__title
            text-align: left
            padding-left: 40px
            margin: 0
            padding-bottom: 36px
            border-left: 1px solid #000
        &__badge
            margin-bottom: 0
        &__container
            max-width: 900px
        &__content
            max-width: 700px
        &__row
            flex-direction: row
            justify-content: space-between
        &__box
            border: 1px solid #000000
            padding: 44px 20px 80px
            &-text
                text-align: left
                max-width: 400px
        &__form
            flex-direction: row

    .profit
        &__interface
            margin-top: 60px
        &__window
            width: 100%
        &__card
            width: 100% !important
            display: flex !important
            align-items: center
            gap: 100px
            &-button
                margin: 0
            &-content
                max-width: 363px
            &-title
                text-align: left
            &-text
                text-align: left
            &-img
                width: 650px
                aspect-ratio: 1.26

    .why
        &__window
            margin: 0
        &__title
            margin-bottom: 40px
        &__container
            max-width: none
        &__row
            display: grid
            grid-template-columns: 600px auto
            align-items: center
            padding: 0 20px 0 0
        &__card
            width: 100% !important
        &__box
            gap: 40px
            padding: 0
            &-item
                display: flex
                gap: 40px
                align-items: center
                &-content
                    max-width: 406px
                &-line
                    height: 2px
                    background: #000
                    width: 100px
                    min-width: 100px
                    display: block

    .main
        min-height: 660px
        padding-top: 110px
        &__bg
            right: 0
        &__title
            font-size: 110px
        &__subtitle
            font-size: 30px
            line-height: 140%
        &__row
            max-width: 1005px
        &__item
            font-size: 24px 

    .header
        &__wrap
            flex-direction: row
            gap: 40px